/DateTime.o
/Makefile
/config.log
/config.status
/mass2dewater
/mass2dewater.o
/mass2extract
/mass2extract.o
/mass2flux
/mass2flux.o
/mass2grass
/mass2grass.o
/mass2insert
/mass2insert.o
/mass2scan
/mass2scan.o
/mass2series.o
/mass2solution.o
/mass2stats
/mass2stats.o
/mass2wet
/mass2wet.o
/*~
